@import "color-palette.scss";
@import "roboto-font.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--tea-green);
  font-family: "Roboto", sans-serif;
}

#video-section {
  padding: 100px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#video-section video {
  border-radius: 3px;
  border: 3px solid var(--buff);
}

p {
  padding: 1rem 1rem;
}
