@import "color-palette.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--tea-green);
}

#video-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#video-section > div {
  display: inline-block;
}
